@import "tailwindcss";

/* Reset osnovnih stilova */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: Arial, sans-serif;
  background-color: #f9fafb; /* svetlo sivo za landing page */
  color: #111827; /* tamno za tekst */
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
  font-family: inherit;
  border: none;
}
